:root {
    --primary-color: #1c3d3f;
    --secondary-color: #8E443D;
    --accent1: #511730;
    --accent2: #CB9173;
    --heading-font: "DM Serif Display", serif;
    --body-font: "DM Serif Text", serif;
}

/* Color Pallete is:
    #320A28
    #511730
    #8E443D
    #CB9173
    #E0D68A
*/
body {
    font-family: var(--body-font);
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a {
    color: black;
    display: block;
    padding: 20px;
    background-color: var(--accent2);
    border-radius: 15px;
}

h1, h2, h3 {
    font-family: var(--heading-font);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 0px;
    box-shadow: 0 0 30px gray;
}

main{
    max-width: 800px;
    margin-left: 30px;
}

aside{
    width: 500px;
    margin: 30px;
    border: 3px solid grey;
    padding: 50px;
    background-color: var(--accent2);
    color: white;
}

aside img{
    width: 200px;
    height: auto;
    box-shadow: 0 0 30px black;
}

p {
    padding: 0;
}


footer{
    display: block;
    margin-top: 20px;
    border-top: 1px solid black;
    text-align: center;
}

